<article class="scrollable">
    {{{notes}}}
</article>
<footer class="sheet-footer">
    <p>
        {{{localize "SETUP.FullListOfReleaseNotes" url='<a href="https://foundryvtt.com/releases/" target="_blank">https://foundryvtt.com/releases/</a>'}}}
    </p>
    <button type="button" class="bright">
        <i class="fa fa-cloud-download-alt"></i>
        <label>{{localize "SETUP.BeginDownload"}}</label>
    </button>
</footer>

