<div class="voidHorizon-chat">
    <div class="chat-header">
        <div class="chat-title">{{title}}</div>
        <div class="chat-subtitle">{{subtitle}}</div>
    </div>
    <div class="chat-content">
        <div class="dice-roll">
            <div class="dice-result">
                <div class="dice-formula">{{formula}}</div>
                <div class="dice-total {{#if isSuccess}}success{{else if isFailure}}failure{{/if}}">
                    {{total}}
                </div>
            </div>
            {{#if hasTooltip}}
            <div class="dice-tooltip">
                <div class="dice">
                    <ol class="dice-rolls">
                        {{#each dice}}
                        <li class="roll {{this.classes}}">{{{this.result}}}</li>
                        {{/each}}
                    </ol>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div> 